{% extends 'dashboard.html' %}
{% load i18n account static crispy_forms_tags %}
{% block title %}
    Lista de Prestações
{% endblock title %}
{% block dashboard %}

<script src="{% static 'js/jquery-1.8.2.js' %}"></script>

<!--Menu-->
<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">            
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>                           
      </ul>        
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar com grupos de botões">          
          <div class="btn-group mr-2" role="group" aria-label="Primeiro grupo">
              <a href="{% url 'venda:venda_list_create' %}" >
                  <button class="btn bg-gradient-primary" type="submit" >Vendas</button>
              </a>      
          </div>    
      </div>    
    </div>
  </div>
</nav>

<div class="container-fluid mt-2">
  <div class="container-form">
    <div class="card">
      <div class="card-header p-1">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h3 class="form-title m-2">Lista de Prestações da Venda - {{ venda.codigo }}</h3>
          </div>
          <div id="bottom_list" class="col-sm-12 col-md-6">
            <div class="row my-3">
              <form method="POST">                   
                <a href="{% url 'venda:venda_prestacao_create' venda.pk %}" class="btn float-end">
                  <i class="fas fa-plus-circle fa-2x"></i>
                </a>
                <div class="modal fade" 
                  id="exampleModal"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog dateAdmin" role="document">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Nova Prestação</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            {{ form.media }} 
                            {{ form.crispy }}                                                                             
                        </div>
                        <div class="modal-footer">
                          <div class="form-group form-button">
                            <input type="submit"
                              name="signup"
                              id="signup"
                              class="form-submit"
                              value="Salvar"/>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>                
              </form>
            </div>
          </div>
        </div>
      </div>     
      <div class="table-responsive">
        <table id="myTable1" class="table table-striped table-bordered mt-5">                      
          <thead>
            <tr>
              <th>Venda</th>
              <th>Banco</th>                                
              <th>Número da Parcela</th>
              <th>Valor da Parcela</th>             
              <th>Data de Vencimento</th>
              <th>Data de Pagamento</th>              
              <th>Forma de Pagamento</th>
              <th>Quitada</th>
              <th>Detalhes</th>
              <th>Editar</th>
              <th>Excluir</th>
            </tr>
          </thead>
          
          <tbody>
            {% for e in venda_prestacao %}               
                <tr>
                  <td align="center">{{ e.compra }}</td>
                  <td align="center">{{ e.banco }}</td>                                    
                  <td align="center">{{ e.num_parcela }}</td>
                  <td align="center">{{ e.valor_parc }}</td>                 
                  <td align="center">{{ e.data_venc|date:'d/m/Y' }}</td>
                  <td align="center">{{ e.data_pgto|date:'d/m/Y' }}</td>
                  <td align="center">{{ e.formapgto }}</td>
                  <td align="center">{{ e.status }}</td>
                  <td align="center">{{ e.detalhes }}</td>        
                                    
                  <td align="center">
                      <a href="{% url 'venda:venda_prestacao_update' e.venda_id e.pk %}" class="btn">
                          <i class="fas fa-user-edit"></i>
                      </a>
                  </td>

                  <td align="center">
                      <a href="{% url 'venda:venda_prestacao_delete' e.venda_id e.pk %}" class="btn">
                          <i class="fas fa-solid fa-trash"></i>
                      </a>
                  </td>
                </tr>        
            {% endfor %}                             
          </tbody> 
        </table>
      </div> 
    </div>
  </div>
</div> 

<script>
  $(window).on('load',function(){
   $('#myModal').modal('show'); });
</script>
{% endblock %}

